<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChromeUserDataDir" value="C:\Users\IDandT\AppData\Local\Google\Chrome\User Data"/>
    <add key="EdgeUserDataDir" value="C:\Users\IDandT\AppData\Local\Microsoft\Edge\User Data"/>
    <add key="PointsBySearch" value="3"/>
    <add key="TotalDesktopPoints" value="90"/>
    <add key="TotalMobilePoints" value="60"/>
    <add key="TotalEdgePoints" value="12"/>
    <add key="LogLevel" value="3"/>
    <add key="Timeout" value="10"/>
  </appSettings>
</configuration>